# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/
.env

# Distribution / PyInstaller
build/
dist/
*.spec
*.egg-info/
*.manifest

# Logs
*.log

# IDEs
.vscode/
.idea/

# Windows
Thumbs.db
Desktop.ini
